In [1]:
#Imports
from splinter import Browser
from bs4 import BeautifulSoup
import pandas as pd
import time
import datetime
import requests

In [2]:
#Set path for splinter (chromedriver)
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [3]:
#Scrape the NASA Mars News Site and collect the latest News Title and Paragragh Text
#url to scrape
url = 'https://mars.nasa.gov/news/'
browser.visit(url)

#set url in splinter/chromedriver
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

time.sleep(2)
news_title = soup.find('div',class_='content_title').get_text()
news_p = soup.find('div',class_='article_teaser_body').text
print(news_title)
print(news_p)

NASA Invests in Visionary Technology
NASA is investing in technology concepts, including several from JPL, that may one day be used for future space exploration missions.

In [4]:
#Scrape featured image from JPL Featured Space Image
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)
time.sleep(3)
browser.click_link_by_partial_text('FULL IMAGE')
time.sleep(1.5)
browser.click_link_by_partial_text('more info')

#Pass html from splinter/chromedriver to be parsed by beautiful soup
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

#Obtain relative image url from parsed html with beautiful soup
img_url_part = soup.find('figure', class_='lede').find('img')['src']
print("Relative url of image:")
print(img_url_part)
base_url =" https://www.jpl.nasa.gov"
#Concatenate base_url and img_url_part
print("Reconstructed full url of full size image:")
print(base_url + img_url_part)

Relative url of image:
/spaceimages/images/largesize/PIA17550_hires.jpg
Reconstructed full url of full size image:
 https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA17550_hires.jpg

In [57]:
#Scrape Mars planet facts and information
url = 'http://space-facts.com/mars/'
browser.visit(url)
time.sleep(3)

#Pass html from splinter/chromedriver to be parsed by beautiful soup
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

#Pass html from beautiful soup to the pd.read_html method:
mars_facts_df = pd.read_html(html)[0]
#https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_html.html
mars_facts_df .columns=['description', 'value']
mars_facts_df.set_index('description', inplace=True)

#Mars size vs. Earth diagram scrape:
diagram_text= soup.find('div',id="attachment_4837").find('img')['alt']
diagram_url = soup.find('div',id="attachment_4837").find('img')['src']

#Display output of table unformatted:
mars_facts_df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>value</th>\n    </tr>\n    <tr>\n      <th>description</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-153 to 20 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [59]:
#Url of Mars size vs. Earth diagram and alt text/caption:
print(diagram_url)
print(diagram_text)

https://space-facts.com/wp-content/uploads/mars-size.png
Mars size compared to Earth

In [60]:
#Examine dataframe conversion of table:
mars_facts_df.head(15)

                                              value
description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                  -153 to 20 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [ ]:
#Mars weather

In [ ]:
#Close chrome window (splinter/chromedriver)
browser.quit()